
.header {
    text-align: center;
    font-size: 30px;
    color: white;
}
.header .a{
    border-radius: 1px solid black;
    color: white;
}
.header .a:hover{
    color: red;
    font-size: 33px;
}
/* Age calculator*/
body {
    margin: 0;
    padding: 20px;
   // overflow: hidden;
    font-family: "Montserrat", sans-serif;
    background-color: blueviolet;
}
.container{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
}

.container h2{
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    font-weight: bold;
    margin-bottom: 10px;
}
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}
button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
}

button:hover{
    background-color: blue;
}
#result{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
/* age calculator End */

/* New Year Countdown start */
.body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
}
.body h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}
.year{
    font-size: 5em;
    font-weight: bold;
    color: white;
}

.countdown{
    color: black;
    margin: 20px;
    background-color: rgba(255,255,255);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.countdown div{
    margin: 0 15px;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: -25px;
    position: relative;
    text-align: center;
    width: 100px;
}

.countdown div::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: .35em;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    width: 100%;
    height: 35px;

}

.countdown #day::before{
    content: "Days";
}
.countdown #hour::before{
    content: "Hours";
}
.countdown #minute::before{
    content: "Minutes";
}
.countdown #second::before{
    content: "Seconds";
}

/* New Year Countdown end */



 /* Calculator Starts Here */
 .namecalculator{
     width: 100%;
     height: 100vh;
     background:#e3f9ff;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .calculator{
     background: #3a4452;
     padding: 20px;
     border-radius: 10px;
 }
     .calculator form input {
         border: 0;
         outline: 0;
         width: 60px;
         height: 60px;
         border-radius: 10px;
         box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);
         background: transparent;
         font-size: 20px;
         color: #fff;
         cursor: pointer;
         margin: 10px;
     }
     form .display{
         display: flex;
         justify-content:flex-end;
         margin: 20px 0;
     }
     form .display input{
         text-align:right;
         flex: 1;
         font-size: 45px;
         box-shadow: none;
     }
     form input.equal{
         width: 145px;
     }

 form input.operator {
     color: #33ffd8;
 }
 h1 {
    text-align: center;
    background: grey;
    color: white;
 }

 /* Calculator Ends Here*/
